* {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: url(41499aea-ad3f-4778-9cc4-184e4406c6d5.jpeg);
  background-size: auto;
  background-repeat:no-repeat ;
  background-position: 50% 0%;
}
h3{
  text-align: center;
  color:white;
  margin: 26px;
  padding: 0 0 0 6px ;
}
.body{
  margin: 26px;
  padding: 0 0 0 28px ;
}
h1{
  color: #0057FF; 
}
p{
  font-size: 17px;
  padding: 10px 9px 31px 10px;
  margin: 24px;
  line-height: 33px;
  overflow: auto;
}
a:link, a:visited {
  background-color: #517997;
  color: white;
  font-size: 29px;
  border-radius: 20px;
  padding: 12px 21px;
  margin: 0 45%;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}
a:hover, a:active {
  background-color: #1C3E57;
  font-weight:bold ;
  border-color: transparent;  
}
