* {
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background-image: url(instagram.jpeg);
    background-size:cover ;
  }
  .back{
    background-color: #ffaa92;
    width: 797px;
    margin: 121px auto;
    border-radius: 11px;
    border: 1px #fff solid;
    padding: 30px;
    height: 863pX;
  }
  .back h1 {
    font-size: 36px;
    padding: 2px 0 18px 67px;
    border-bottom: 3px rgb(0, 0, 0) solid;
}

  .qq {
    background-color: #ffaa92 ;
    font-size: 17px;
    padding: 8px ;
    margin: 10px 0 ;
    width: 100%;
    border: 1px #3b3b3b solid;
    border-radius: 50px;
    cursor:pointer;
  }
.qq:hover:not([disabled]),a:active {
    background-color: #ff5e31;
    color: #fff;
    font-weight:bold ;
    border-color: transparent;
  }
  .qq :disabled{
    cursor: no-drop;
  }
  #next-qq{
    background-color: #ffaa92;
    font-weight: 500;
    width: 150px;
    border-radius: 20px;
    padding: 10px;
    margin: 20px auto 0;
    text-align: center;
    cursor: pointer;
    display: none;
  }
  #next-qq:hover, a:active {
    background-color: #ff5e31;
    border-color: transparent;
    color: #fff;
    font-weight: 900;
  }
.correct {
  background-color:rgb(215, 255, 215);
}
.incorrect {
  background-color:rgb(255, 163, 163);
}
